<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>挫折乗り越えサロン Member Site</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :style %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <h1 class="header__ttl">
          <%= link_to '挫折乗り越えサロンMember Site', root_path, class: 'header__link' %>
        </h1>
        <% if @path.is('users#index') %>
          <form id="" action="" method="get" class="header__search">
          <input type="text" id="" name="" placeholder="Slack名、言語などを入力してください" class="header__searchArea">
          <button type="submit" id="" class="header__searchBtn"><i class="fas fa-search"></i></button>
          </form>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
