<!DOCTYPE html>
<html>
  <head>
    <title>挫折乗り越えサロン Member Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <h1>
          <%= link_to '挫折乗り越えサロンMember Site', root_path, class: 'header__ttl' %>
        </h1>
        <% if @path.is('users#index') %>
          <form id="" action="" method="get" class="header__search">
          <input type="text" id="" name="" placeholder="Slack名、言語などを入力してください" class="header__searchArea">
          <button type="submit" id="" class="header__searchBtn"><i class="fas fa-search"></i></button>
          </form>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
